@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-size: 20px;
  line-height: 23.7px;
}

.herosection {
  position: relative;
  background-image: url('../Rectangle 11.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.herosection::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url('../Icon.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}

@media (max-width: 767px) {
  .herosection::before {
    width: 0%;
  }
}

.landingpage button{
    background-color: #534AEC;
    font-weight: 500;  
}
.herosection li:hover{
  border-bottom: 1px solid black;
  cursor: pointer;
}


.contentdetails {
  background-image: url('../Vector 34.png');
  width: 90%;
  height: 100%;
    background-position: center ;
  background-repeat: no-repeat;
  background-size:60% 82%;
  margin:auto auto;
  
}

.contentdetails div:nth-child(1) img {
  top: 10%;
  left: 20%;
}

.contentdetails div:nth-child(2) img {
  top: 20%;
  left: 60%;
}

.contentdetails div:nth-child(3) img {
  top: 35%;
 left: 40%;
}

.contentdetails div:nth-child(4) img {
  top: 50%;
  margin-left: 8%;
  margin-bottom: 10%;
}

.contentdetails div:nth-child(5) img {
  top: 70%;
  left: 10%;
 
}

.contentdetails div:nth-child(6) img {
  top: 80%;
  left: 50%;
  opacity: 0.75;
  mix-blend-mode: multiply;
  
}
